#icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  vertical-align: center;
}

#introduction {
  margin: 20px;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}


#reviews p {
  text-align: start;
}

#local-navigation {
  margin: 3rem 0;
}


@media (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}
