h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h2,
h3 {
  text-align: center;
}

#purchase-grid:hover {
  border-color: #ffdd00;
  /* slightly brighter yellow */
  transition: border-color 0.3s ease;
}

div label img:hover {
  transform: scale(1.05);
}


#purchase-grid {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 3px solid yellow;
  border-radius: 10px;
  display: grid;
  background: linear-gradient(to bottom right,
  #1c1c1c,
  #111111);
  width: 90%;
  height: fit-content;
}

#purchase-grid img {
  max-height: 130px;
  width: auto;
  cursor: pointer;
}


#products-yellow,
#products-purple {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 135px);
  gap: 15px;
  margin: 15px;
}


#products-yellow p,
#products-purple p {
  justify-self: center;
  font-size: 1rem;
}


#checkout-text {
  font-size: 1rem;
}

#payment-section {
  display: flex;
  position: relative;
  justify-self: end;
  margin: 10px;
  flex-direction: column;
  background-color: #464646;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

#offer-message {
  display: none;
  background-color: gold;
  width: 80%;
}

#shopping_cart:checked+#offer-message {
  display: block;
}

#shopping_cart:active {
  background-color: grey;
}


#payment-section:active {
  background-color: grey;
}

#unusuals-section,
#scrapweapons-section {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}


#products-purple input:checked+label img,
#products-yellow input:checked+label img {
  background-color: gray;
}


@media (max-width: 600px) {
  #payment-section {
    justify-self: center;
    position: static;
  }

  #offer-message {
    visibility: visible;
    display: none;
    width: 100%;
  }

  #shopping_cart:checked+#offer-message {
    display: block;
  }
}