h2,
h3 {
  text-align: center;
}


#submit-button {
  cursor: pointer;
}

.links-section {
  margin: 0;
}

main p {
  font-size: 1.2rem;
}


#support-box {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

#message {
  width: 80%;
  max-width: 600px;
}

#email {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}

#submit-button {
  width: 80px;
  height: 50px;
  margin: 30px;
}


@media (max-width: 600px) {
  #support-box {
    padding: 20px;
  }

  #issue {
    padding: 1rem;
  }

  #message,
  #email {
    width: 100%;
  }

  #submit-button {
    width: 100%;
  }
}